/.vs/GlowModelSol/CopilotIndices/17.14.1231.31060
.vs/GlowModelSol/DesignTimeBuild/.dtbcache.v2
.vs/GlowModelSol/FileContentIndex/313b7bf5-6dc9-4499-b04f-ecaed3ebe25b.vsidx
/.vs/GlowModelSol/FileContentIndex
/.vs
/bin/Release/net9.0/win-x64/publish
/obj/Debug
/obj
